* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrollbars */
  width: 900px; /* Ensures that the body does not exceed the viewport width */
  height: 900px; /* Ensures that the body height matches the viewport exactly */
  margin: auto;
}

.hidden {
  display: none;
}

#game-section-level-1 {
  background-image: url("background-level-1.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1000px;
  height: 1000px;
  justify-content: center;
  align-items: center; /* This will center the canvas vertically and horizontally */
}

#gameCanvas {
  display: block;
  /* Removed max-width and max-height to allow default full-size within the container */
}

.loss-counter {
  position: absolute;
  top: 10px; /* You can adjust this to position the counter wherever you want on the screen */
  left: 10px; /* You can adjust this as well */
  color: rgb(
    85,
    4,
    4
  ); /* This should be a color that is visible over your game's background */
  font-size: 20px; /* Adjust size as needed */
  z-index: 10; /* Ensure it is above other elements */
}

#restart-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  margin-bottom: 28px;
  margin-left: 48px;
}
